.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-image {
  width: 30%;
}

.not-found-heading {
  color: #183b56;
  font-size: 20px;
  margin-top: 10px;
}

.not-found-text {
  color: #5a7184;
  font-size: 13px;
  margin-top: 10px;
}
